.container {
  margin: auto;
  max-width: 1288px;
  width: 100%;
  padding: 0 16px;
}

.font-body-2 {
  font-size: 16px;
  font-weight: normal;
  line-height: 140%;
}
.font-body-4 {
  font-size: 12px;
  font-weight: normal;
  line-height: 140%;
}

.font-semibold {
  font-weight: 500;
}
.font-bold {
  font-weight: bold;
}
.text-center {
  text-align: center;
}
