$primary-main: #e2c36a;
$gradient-main: (
  "primary": $primary-main,
  "secondary": #9c7e25
);
$black: #1c1c1c;
$gray-2: #7d7d7d;
$gray-3: #686868;
$gray-5: #414141;
$gray-6: #2e2e2e;
$gray-7: #262626;
$white: #fff;