<div class="category-cards">
  <ul class="category-cards__list">
    <li class="category-cards__item">
      <a>
        <figure class="category-cards__figure">
          <img src="assets/games/football-studio.png" alt="altText" />
        </figure>
      </a>
    </li>
    <li class="category-cards__item">
      <a>
        <figure class="category-cards__figure">
          <img src="assets/games/football-studio.png" alt="altText" />
        </figure>
      </a>
    </li>
    <li class="category-cards__item">
      <a>
        <figure class="category-cards__figure">
          <img src="assets/games/football-studio.png" alt="altText" />
        </figure>
      </a>
    </li>
    <li class="category-cards__item">
      <a>
        <figure class="category-cards__figure">
          <img src="assets/games/football-studio.png" alt="altText" />
        </figure>
      </a>
    </li>
    <li class="category-cards__item">
      <a>
        <figure class="category-cards__figure">
          <img src="assets/games/football-studio.png" alt="altText" />
        </figure>
      </a>
    </li>
    <li class="category-cards__item">
      <a>
        <figure class="category-cards__figure">
          <img src="assets/games/football-studio.png" alt="altText" />
        </figure>
      </a>
    </li>
    <li class="category-cards__item">
      <a>
        <figure class="category-cards__figure">
          <img src="assets/games/football-studio.png" alt="altText" />
        </figure>
      </a>
    </li>
  </ul>
</div>
