<div class="game-category">
  <ul class="game-category__list">
    <li class="game-category__item">
      <app-button variant="golden">
        <span class="game-category__span font-body-4 font-semibold">
          Todos
        </span>
      </app-button>
    </li>
    <li class="game-category__item">
      <app-button>
        <span class="game-category__span font-body-4 font-semibold">
          Melhores Jogos ao vivo
        </span>
      </app-button>
    </li>
    <li class="game-category__item">
      <app-button>
        <span class="game-category__span font-body-4 font-semibold">
          Roletas
        </span>
      </app-button>
    </li>
    <li class="game-category__item">
      <app-button>
        <span class="game-category__span font-body-4 font-semibold">
          Baccarat
        </span>
      </app-button>
    </li>
    <li class="game-category__item">
      <app-button>
        <span class="game-category__span font-body-4 font-semibold">
          Blackjack
        </span>
      </app-button>
    </li>
    <li class="game-category__item">
      <app-button>
        <span class="game-category__span font-body-4 font-semibold">
          Dados
        </span>
      </app-button>
    </li>
  </ul>
</div>
