<section class="dashboard-banner">
  <ul class="dashboard-banner__list">
    <li class="dashboard-banner__item">
      <a class="dashboard-banner__anchor">
        <figure class="dashboard-banner__figure">
          <img src="/assets/images/home-banner-0.png" alt="alt" />
        </figure>
      </a>
    </li>
    <li class="dashboard-banner__item">
      <a class="dashboard-banner__anchor">
        <figure class="dashboard-banner__figure">
          <img src="/assets/images/home-banner-1.png" alt="alt" />
        </figure>
      </a>
    </li>
  </ul>
</section>
