<div class="category-header">
  <div class="category-header__col">
    <figure class="category-header__icon">
      <img [src]="category.iconUrl" [alt]="category.title" />
    </figure>
    <span class="font-body-2">{{ category.title }}</span>
  </div>
  <div class="category-header__col">
    <button
      class="category-header__button font-body-4 font-semibold"
      (click)="emitButtonClick()"
    >
      Ver mais
    </button>
    <p class="category-header__tag">{{ category.totalGames }}</p>
  </div>
</div>
