<footer class="footer">
  <section class="footer__content">
    <nav class="footer__container">
      <ul class="footer__navigation-list">
        <li class="footer__navigation-item">
          <a class="footer__navigation-anchor">
            <figure class="footer__navigation-icon">
              <img src="/assets/icons/die.svg" alt="íconde de dado" />
            </figure>
            <span> Jogos </span>
          </a>
        </li>
        <li class="footer__navigation-item">
          <a
            class="footer__navigation-anchor footer__navigation-anchor--active"
          >
            <figure class="footer__navigation-icon">
              <img src="/assets/icons/dice.svg" alt="ícode de dois dados" />
            </figure>
            <span> Cassino ao vivo</span>
          </a>
        </li>
        <li class="footer__navigation-item">
          <a class="footer__navigation-anchor">
            <figure class="footer__navigation-icon">
              <img
                src="/assets/icons/gift-box.svg"
                alt="ícode de caixa de presente"
              />
            </figure>
            <span> Promoção </span>
          </a>
        </li>
        <li class="footer__navigation-item">
          <a class="footer__navigation-anchor">
            <figure class="footer__navigation-icon">
              <img
                src="/assets/icons/football.svg"
                alt="ícode de bola de football"
              />
            </figure>
            <span> Esportes </span>
          </a>
        </li>
      </ul>
    </nav>
  </section>
  <div class="footer__placeholder"></div>
</footer>
