<footer class="footer">
  <section class="container">
    <section class="footer__header">
      <app-logo maxWidth="180px"></app-logo>
    </section>
    <section class="footer__content">
      <div class="footer__content-column">
        <p class="font-body-4 m-0 mb-4 pb-2">
          A ux.bet.br é operada pela Reals Brasil LTDA, uma empresa registrada
          sob o CNPJ nº 56.197.912/0001-50, licenciada - em nível federal - pela
          Secretaria de Prêmios e Apostas do Ministério da Fazenda (“SPA/MF”) no
          Brasil com o número de Autorização SPA/MF n° 2.104 - 7 datada de 30 de
          Dezembro de 2024 (publicada em 31/12/2024).
        </p>
        <p class="font-body-4 font-bold m-0">
          Ouvidoria: Telefone: 0800 591 9481
        </p>
        <p class="font-body-4 font-bold m-0">suporte@uxbet.com.br</p>
        <p class="font-body-4 font-bold m-0">
          Segunda a sexta, das 9:00 às 18:00h, exceto feriados
        </p>
      </div>
      <div class="footer__content-column footer__content-column--flex">
        <ul class="footer__list footer__navigation-list">
          <li>
            <h3 class="footer__text--title font-body-2 font-bold m-0">
              Institucional
            </h3>
          </li>
          <li>
            <a class="font-body-4 font-semibold m-0">Quem somos</a>
          </li>
          <li>
            <a class="font-body-4 font-semibold m-0">Instalar APP Cliente</a>
          </li>
          <li>
            <a class="font-body-4 font-semibold m-0">Regras</a>
          </li>
          <li>
            <a class="font-body-4 font-semibold m-0">Política de privacidade</a>
          </li>
          <li>
            <a class="font-body-4 font-semibold m-0">Política AML</a>
          </li>
          <li>
            <a class="font-body-4 font-semibold m-0">Jogo responsável</a>
          </li>
          <li>
            <a class="font-body-4 font-semibold m-0">Termos e condições</a>
          </li>
        </ul>
        <ul class="footer__list footer__payments-list">
          <li>
            <h3 class="footer__text--title font-body-2 font-bold m-0">
              Métodos de pagamento
            </h3>
          </li>
          <li>
            <figure class="footer__payments-image">
              <img
                src="../../../../assets/images/payment-methods-pix.png"
                alt=""
              />
            </figure>
          </li>
        </ul>
        <ul class="footer__list footer__social-media-list">
          <li>
            <h3 class="footer__text--title font-body-2 font-bold m-0">
              Siga nossas redes sociais
            </h3>
          </li>
          <li>
            <a>
              <figure class="footer__social-media-icon">
                <img
                  src="../../../../assets/icons/footer-instagram.svg"
                  alt="ícone do Instagram"
                />
              </figure>
            </a>
          </li>
        </ul>
      </div>
    </section>
    <section class="footer__copyright mt-5">
      <p class="font-body-4 text-center mb-3">
        2025 © UX. Todos os direitos reservados.
      </p>
      <p class="font-body-4 text-center">Versão 2.23</p>
    </section>
  </section>
</footer>
